.conteudo-principal {
    background-color: #fff;
    margin: 0 16px 15px 16px;
    height: 1190px;
}

@media screen and (min-width: 768px) {
    .conteudo-principal {
        background-color: #fff;
        margin: 0 16px 15px 16px;
        height: 2000px;
        width: 1360px;
        margin: -50px 270px;
    }
}
