.conteudo-footer {
    margin-top: 160px;
    height: 674.88px;
    display: block;
}

.marca {
    width: 100%;
    height: 42px;
    background-color: #ca3f89;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.insta {
    width: 100%;
    height: 57.88px;
    background: linear-gradient(
        88.12deg,
        #feda75 6.77%,
        #fa7e1e 32.29%,
        #d62976 54.69%,
        #962fbf 77.6%,
        #4f5bd5 100%
    );
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    color: #000;
    text-decoration-line: underline;
}

.linhas-de-produto {
    width: 414px;
    display: flex;
    color: #585672;
}

.titulo-footer {
    font-weight: 600;
    margin: 26px 0 0 16px;
    font-size: 18px;
    cursor: pointer;
}

.img-arrow-down {
    margin-left: 80px;
    cursor: pointer;
}

.img-arrow-right {
    display: none;
}

.lista-produtos a {
    color: #585672;
    font-weight: 300;
    font-size: 13px;
}

#link1 {
    margin: 26px 0 16px -16px;
}

#link2 {
    margin: 0 0 16px -16px;
}

#link3 {
    margin: 0 0 16px -16px;
}

.curso {
    background-color: #6e4480;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 210px;
}

.texto-curso {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    line-height: 127%;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 16px;
}

.btn-inscreva {
    background: #ca3f89;
    color: #fff;
    border-radius: 50px;
    padding: 6px 11px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 11px;
    margin: 0 auto;

    &:hover {
        color: #f4c324;
    }
}

.footer-final {
    background-color: #9c324d;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
        color: #fff;
    }
    img {
        width: 100%;
    }
}

.img-curso-desktop {
    display: none;
}

.titulo-footer-end {
    margin-top: 28px;
    font-weight: 600;
    font-size: 18px;
}

.links-footer {
    margin: 27px 16px 35px 16px;
    font-weight: 300;
    font-size: 13px;
    line-height: 127%;
    text-align: center;
}

.flex-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 13px;
    padding: 0 0 40px 0;
}

.up {
    margin-left: 4px;
}

@media screen and(min-width:768px) {
    .conteudo-footer {
        margin-top: 60px;
    }

    .insta {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }

    .smile-img {
        margin-left: 25px;
    }

    .instagram-img {
        margin-right: 18px;
    }

    .titulo-footer {
        position: relative;
        margin: 5px;
        padding: 20px;
    }

    .img-arrow-down {
        display: none;
    }

    .linhas-de-produto {
        width: 100%;
    }

    .img-arrow-right {
        display: flex;
        position: absolute;
        bottom: 25px;
        left: 1800px;
    }

    .lista-produtos {
        display: none;
    }

    .curso {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 401.12px;
        width: 1833px;
    }

    .background-curso {
        width: 100%;
    }

    .texto-curso {
        margin: 0 auto;
        padding-top: 131.56px;
        padding-bottom: 22px;
        width: 207px;
        font-weight: 600;
        font-size: 24px;
        line-height: 127%;
        text-align: center;
    }

    .img-curso {
        display: none;
    }

    .img-full-desktop {
        background-image: url(/assets/img-curso-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .img-curso-desktop {
        display: flex;
        height: 401.12px;
        width: 100%;
    }

    .footer-final {
        background-color: #9c324d;
        color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        a {
            color: #fff;
        }

        .titulo-footer-end {
            margin: 32px 0 32px 68px;
        }

        .links-footer {
            margin: 32px 0;
        }

        .flex-footer {
            margin: 64px 68px 32px 0;
        }
    }
}
