@media screen and (min-width: 768px) {
    #menu-mob {
        display: none;
    }

    #botao-menu {
        display: none;
    }

    .show-off input {
        display: none;
    }

    .lista-links {
        display: none;
    }

    .carrosel {
        display: none;
    }
}
