.back-input {
    position: relative;
    background: hsla(0, 0%, 95%, 1);
    width: 413px;
    height: 62px;
}

.input-pesquisa {
    margin: 15px;
    padding: 9px 20px 15px 11px;
    width: 381px;
    height: 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 5px;
}
