.card {
    border: none;
}

.titulos-mais-recentes {
    color: #585672;
    padding-top: 32px;
    margin: 0 8px 16px 8px;
    display: flex;
    justify-content: space-between;
}

#mais-recente-titulo {
    font-size: 28px;
    font-weight: 600;
}

#ver-tudo-recente a {
    color: #585672;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
}

.slick-slide {
    padding: 10px;
}

.img-carrosel2 {
    width: 100%;
    max-width: 400px;
}

.titulo-carrosel2 {
    margin: 14px 16px 16px 16px;
    width: 149px;
    height: 92px;
    font-weight: 600;
    font-size: 18px;
    color: #585672;
    line-height: 127%;

    &:hover {
        color: #9c324d;
    }
}

.item-inner {
    width: 181px;
    height: 327px;
    border: 1px solid #bfbfbf;
    box-shadow: 0px 10px 19px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.icons-carrosel2 {
    display: flex;
    justify-content: space-between;
}

.time-img {
    margin-left: 16px;
    margin-bottom: 8px;
}

.time {
    margin-right: 45px;
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 13px;
}

.like-img {
    margin-bottom: 9px;
}

.like {
    margin-bottom: 6px;
    margin-right: 16px;
    font-weight: 300;
    font-size: 13px;
}

.segundo-carrosel-desktop {
    display: none;
}

@media screen and (min-width: 768px) {
    .segundo-carrosel {
        display: none;
    }

    .segundo-carrosel-desktop {
        display: block;
    }

    #mais-recente-titulo {
        display: flex;
        justify-content: space-between;
        font-size: 28px;
        margin-left: 16px;
        font-weight: 600;
    }

    #ver-tudo-recente a {
        margin-right: 16px;
    }

    .continuar a {
        color: #585672;
    }

    .item-inner {
        width: 255px;
        height: 272px;
    }

    .titulo-carrosel2 {
        width: 223px;
        height: 92px;
    }

    .icons-carrosel2 {
        margin-left: 16px;
        margin-top: -10px;
    }

    .like-img {
        margin-left: 50px;
    }
}
