* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: #f5f7f6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-desktop {
  display: none;
}

.header-mobile {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding-bottom: 20px;
  position: relative;
}
.header-mobile #botao-menu {
  width: 36px;
  height: 36px;
  margin-top: 21px;
  margin-left: 13px;
}
.header-mobile .nav-mobile {
  display: none;
  position: relative;
  z-index: 2;
}
.header-mobile .lista-links {
  font-size: 16px;
  font-weight: 600;
  color: hsl(244deg, 14%, 39%);
  display: none;
  position: absolute;
}
.header-mobile nav.ativo {
  display: flex;
  position: fixed;
  background-color: #000;
  width: 30%;
}
.header-mobile .titulo-principal {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  margin-top: 21px;
}
.header-mobile .titulo-principal .span1 {
  color: hsl(261deg, 29%, 56%);
}
.header-mobile .titulo-principal .span2 {
  color: hsl(195deg, 65%, 75%);
}
.header-mobile .titulo-principal .span3 {
  color: hsl(41deg, 69%, 62%);
}
.header-mobile .titulo-principal .exclamacao {
  color: hsl(126deg, 25%, 41%);
}
.header-mobile .botao-inscreva {
  border-radius: 5px;
  border: none;
  background: #ffc425;
  width: 80px;
  height: 26px;
  margin-right: 30px;
  margin-top: 27px;
  font-size: 11px;
}
.header-mobile .botao-inscreva .inscreva-link {
  color: #1f3741;
}
.header-mobile .botao-inscreva .inscreva-link:hover {
  color: #9c324d;
}

@media screen and (min-width: 768px) {
  .header-mobile {
    display: none;
  }
  .header-desktop {
    display: block;
    background: #fff;
    padding: 20px 0;
  }
  .display-flex-links {
    display: flex;
    justify-content: space-between;
  }
  .titulo-principal-desktop {
    font-size: 48px;
    font-weight: bold;
    margin-left: 165px;
  }
  .titulo-principal-desktop .span1 {
    color: hsl(261deg, 29%, 56%);
  }
  .titulo-principal-desktop .span2 {
    color: hsl(195deg, 65%, 75%);
  }
  .titulo-principal-desktop .span3 {
    color: hsl(41deg, 69%, 62%);
  }
  .titulo-principal-desktop .exclamacao {
    color: hsl(126deg, 25%, 41%);
  }
  .lista-links-desktop {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
    margin-top: 46px;
  }
  .lista-links-desktop a {
    color: #585672;
  }
  .lista-links-desktop a:hover {
    color: #9c324d;
  }
  .link-desktop {
    padding: 20px 0;
  }
  .space-title {
    margin-right: 10px;
  }
  .space-down {
    margin: 0 16px 0 8px;
  }
  .botao-inscreva-desktop {
    width: 93px;
    height: 29px;
    font-weight: 500;
    font-size: 13px;
    background: #ffc425;
    border-radius: 5px;
    border: none;
    margin-right: 195px;
    margin-top: 16px;
  }
  .botao-inscreva-desktop a {
    color: #000;
  }
  .botao-inscreva-desktop a:hover {
    color: #fff;
  }
}
#btn-indicador {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.img-carrosel {
  width: 100%;
  max-width: 500px;
}

.texto-carrosel {
  text-align: left;
  margin-bottom: 3.5rem;
  font-weight: 700;
  font-size: 30px;
  line-height: 103%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.carrosel-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .carrosel {
    display: none;
  }
  .carrosel-desktop {
    display: block;
    position: relative;
  }
  .texto-carrosel-desktop {
    width: 466px;
    height: 220px;
    text-align: left;
    font-weight: 700;
    font-size: 48px;
    line-height: 103%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.back-input {
  position: relative;
  background: hsl(0deg, 0%, 95%);
  width: 413px;
  height: 62px;
}

.input-pesquisa {
  margin: 15px;
  padding: 9px 20px 15px 11px;
  width: 381px;
  height: 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .back-input {
    padding: 50px 680px;
    left: 270px;
    top: -50px;
    background: #f1f1f1;
    border-radius: 10px 10px 0px 0px;
  }
  .input-pesquisa {
    position: absolute;
    top: 20px;
    left: 60px;
    padding: 9px 20px 9px 11px;
    width: 1200px;
    height: 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }
}
.conteudo-principal {
  background-color: #fff;
  margin: 0 16px 15px 16px;
  height: 1200px;
}

@media screen and (min-width: 768px) {
  .conteudo-principal {
    background-color: #fff;
    margin: 0 16px 0px 16px;
    height: 1410px;
    width: 1360px;
    margin: -50px 270px;
  }
}
.card {
  border: none;
}

.titulos-mais-recentes {
  color: #585672;
  padding-top: 32px;
  margin: 0 8px 16px 8px;
  display: flex;
  justify-content: space-between;
}

#mais-recente-titulo {
  font-size: 28px;
  font-weight: 600;
}

#ver-tudo-recente a {
  color: #585672;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}

.slider {
  margin: 0 45px;
}

.slick-slide {
  padding: 10px;
  width: 100%;
}

.img-carrosel2 {
  width: 100%;
}

.titulo-carrosel2 {
  margin: 14px 16px 16px 16px;
  width: 149px;
  height: 92px;
  font-weight: 600;
  font-size: 18px;
  color: #585672;
  line-height: 127%;
}
.titulo-carrosel2:hover {
  color: #9c324d;
}

.item-inner {
  width: 181px;
  height: 327px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  cursor: pointer;
}

.icons-carrosel2 {
  display: flex;
  justify-content: space-between;
}

.time-img {
  margin-left: 16px;
  margin-bottom: 8px;
}

.time {
  margin-right: 45px;
  margin-bottom: 8px;
  font-weight: 300;
  font-size: 13px;
}

.like-img {
  margin-bottom: 9px;
}

.like {
  margin-bottom: 6px;
  margin-right: 16px;
  font-weight: 300;
  font-size: 13px;
}

.segundo-carrosel-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .segundo-carrosel {
    display: none;
  }
  .segundo-carrosel-desktop {
    display: block;
  }
  #mais-recente-titulo {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    margin-left: 16px;
    font-weight: 600;
  }
  #ver-tudo-recente a {
    margin-right: 16px;
  }
  .continuar a {
    color: #585672;
  }
  .continuar a:hover {
    color: #9c324d;
  }
  .item-inner {
    margin: 0 auto;
    width: 255px;
    height: 272px;
  }
  .titulo-carrosel2 {
    width: 223px;
    height: 92px;
  }
  .icons-carrosel2 {
    margin-left: 16px;
    margin-top: -10px;
  }
  .like-img {
    margin-left: 50px;
  }
  .arrows {
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
  }
  #prev {
    position: absolute;
    bottom: 150px;
    left: 80px;
  }
  #next {
    position: absolute;
    bottom: 150px;
    right: 80px;
  }
}
.mais-lidos {
  display: block;
}

.titulos-mais-lidos {
  color: #585672;
  padding-top: 50px;
  margin: 0 8px 16px 8px;
  display: flex;
  justify-content: space-between;
}

#mais-lidos-titulo {
  font-size: 28px;
  font-weight: 600;
}

#ver-tudo-lidos a {
  color: #585672;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}

.mais-lidos-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 366px;
  height: 186px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  margin: 0 8px 16px 8px;
  cursor: pointer;
}

.mais-lidos-cards2 {
  display: grid;
  width: 366px;
  height: 186px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  margin: 0 8px 16px 8px;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}

.mais-lidos-cards3 {
  display: grid;
  width: 366px;
  height: 186px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  margin: 0 8px 16px 8px;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}

.mais-lidos-cards4 {
  display: grid;
  width: 366px;
  height: 186px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  margin: 0 8px 0 8px;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}

.text-cards-mais-lidos span {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
}

.data-publi {
  display: flex;
  width: 71px;
  height: 15px;
  margin: 16px 92px 0 20px;
}

.titulo-noticia {
  font-weight: 600;
  font-size: 18px;
  line-height: 127%;
  color: #585672;
  width: 147px;
  height: 69px;
  margin: 10px 16px 0 20px;
}
.titulo-noticia:hover {
  color: #9c324d;
}

.icons-mais-lidos {
  display: flex;
  width: 145px;
  height: 84px;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 50px;
}

.mais-lidos-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  #mais-lidos-titulo {
    margin-left: 16px;
  }
  .itens-grid {
    width: 255px;
    height: 272px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    cursor: pointer;
  }
  #ver-tudo-lidos {
    margin-right: 16px;
  }
  .mais-lidos {
    display: none;
  }
  .mais-lidos-desktop {
    display: block;
  }
  .mais-lidos-cards-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 22px;
    margin: 150px;
    margin-top: 38px;
  }
}
.conteudo-footer {
  margin-top: 160px;
  height: 674.88px;
  display: block;
}

.marca {
  width: 100%;
  height: 42px;
  background-color: #ca3f89;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.insta {
  width: 100%;
  height: 57.88px;
  background: linear-gradient(88.12deg, #feda75 6.77%, #fa7e1e 32.29%, #d62976 54.69%, #962fbf 77.6%, #4f5bd5 100%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  color: #000;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.linhas-de-produto {
  width: 414px;
  display: flex;
  color: #585672;
}

.titulo-footer {
  font-weight: 600;
  margin: 26px 0 0 16px;
  font-size: 18px;
}

.img-arrow-down {
  margin-left: 80px;
}

.img-arrow-right {
  display: none;
}

.lista-produtos a {
  color: #585672;
  font-weight: 300;
  font-size: 13px;
}

#link1 {
  margin: 26px 0 16px -16px;
}

#link2 {
  margin: 0 0 16px -16px;
}

#link3 {
  margin: 0 0 16px -16px;
}

.curso {
  background-color: #6e4480;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 210px;
}

.texto-curso {
  font-weight: 600;
  font-size: 24px;
  line-height: 127%;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 16px;
}

.btn-inscreva {
  background: #ca3f89;
  color: #fff;
  border-radius: 50px;
  padding: 6px 11px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 11px;
  margin: 0 auto;
}
.btn-inscreva:hover {
  color: #f4c324;
}

.footer-final {
  background-color: #9c324d;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-final a {
  color: #fff;
}
.footer-final img {
  width: 100%;
}

.img-curso-desktop {
  display: none;
}

.titulo-footer-end {
  margin-top: 28px;
  font-weight: 600;
  font-size: 18px;
}

.links-footer {
  margin: 27px 16px 35px 16px;
  font-weight: 300;
  font-size: 13px;
  line-height: 127%;
  text-align: center;
}

.flex-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.up {
  font-weight: 600;
  font-size: 13px;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .conteudo-footer {
    margin-top: 60px;
  }
  .insta {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  .smile-img {
    margin-left: 25px;
  }
  .instagram-img {
    margin-right: 18px;
  }
  .titulo-footer {
    position: relative;
    margin: 5px;
    padding: 20px;
  }
  .img-arrow-down {
    display: none;
  }
  .linhas-de-produto {
    width: 100%;
  }
  .img-arrow-right {
    display: flex;
    position: absolute;
    bottom: 25px;
    left: 1800px;
  }
  .lista-produtos {
    display: none;
  }
  .curso {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 401.12px;
    width: 1833px;
  }
  .background-curso {
    width: 100%;
  }
  .texto-curso {
    margin: 0 auto;
    padding-top: 131.56px;
    padding-bottom: 22px;
    width: 207px;
    font-weight: 600;
    font-size: 24px;
    line-height: 127%;
    text-align: center;
  }
  .img-curso {
    display: none;
  }
  .img-full-desktop {
    background-image: url(/assets/img-curso-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .img-curso-desktop {
    display: flex;
    height: 401.12px;
    width: 100%;
  }
  .footer-final {
    background-color: #9c324d;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer-final a {
    color: #fff;
  }
  .footer-final .titulo-footer-end {
    margin: 32px 0 32px 68px;
  }
  .footer-final .links-footer {
    margin: 32px 0;
  }
  .footer-final .flex-footer {
    margin: 32px 68px 32px 0;
  }
}/*# sourceMappingURL=style.css.map */